<nav class="nav-menu mobile-menu">
  <ul>
      <li class="active"><a href="../index.html">Home</a></li>
      
       
        <li><a class="dropdown-item"  routerLink="about" routerLinkActive="active"><span>About us</span></a></li>
        <li><a class="dropdown-item"  routerLink="blog" routerLinkActive="active"><span>BLOG</span></a></li>
      
        <li><a class="dropdown-item"  routerLink="services" routerLinkActive="active"><span>SERVICES</span></a></li>
        <li><a class="dropdown-item"  routerLink="contact" routerLinkActive="active"><span>CONTACT</span></a></li>
        
        
     
      
  </ul>
</nav>
<router-outlet></router-outlet>
